html{
  font-size: $base-font-size;
  @include smallScreen{
    font-size: 14px;
  }
}
body{
  font-size: 1rem;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.container-fluid{
  padding: 0;
}
.row{
  margin: 0;
}
.btn{
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 0;
  &.yellow{
    background-color: $yellow;
    color: $dark-blue;
    &:hover{
      color: #fff;
      background-color: $btnGray;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in);

    }
  }
  &.gray{
    background-color: $btnGray;
    color: #fff;
    &:hover{
      color: #000;
      background-color: $yellow;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in);

    }
  }
  &.blue{
    background-color: $dark-blue;
    color: #fff;
    &:hover{
      color: #000;
      background-color: $yellow;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in);
    }
  }
}
ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
.circle{
  position: relative;
  color: $dark-blue;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  @include marginTop(50px);
  @include marginBottom(50px);
  @include font-size(45px);

  @include smallScreen{
    @include font-size(30px);
    font-weight: bold;
  }
  &:before{
    content: " ";
    top: 15%;
    position: absolute;
    @include widthInRem(143px);
    @include heightInRem(39px);
    @include leftInRem(-150px);
    @include mediumScreen{
      display: none;
    }
    @include greater1200{
      top: 0;
    }
  }
}
.fuxy{
  border-color: $fuxy!important;
}
.red{
  border-color: $red!important;
}
.orange{
  border-color: $orange!important;
}
.green{
  border-color: $green!important;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
//  padding: 10px 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url($imgPath + 'arrowTop.png') no-repeat;
  background-color: $yellow;
  background-position: center center;
}
.glyphicon-remove:before {
  content: "\e014";
}
.table{
  margin: 0;
  td{
    border-top: 0!important;
  }
}
//Preload ico block images
body:after{
  display:none;
  content:
  url($imgPath + 'lock.gif')
  url($imgPath + 'icoButton.gif')
  url($imgPath + 'gas.gif')
  url($imgPath + 'electro.gif')
  url($imgPath + 'video.gif')
  url($imgPath + 'window.gif')
  url($imgPath + 'fire.gif')
  url($imgPath + 'water.gif')
  url($imgPath + 'temperature.gif');
}
.complectBlock {
  padding: 0 15px;
}