//Caclculate font size in rem
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
//Calculate width for elements
@mixin widthInRem($width) {
  width: calculateRem($width);
}
//Calculate height for elements
@mixin heightInRem($height) {
  height: calculateRem($height);
}
@mixin leftInRem($left) {
  left: calculateRem($left);
}
@mixin rightInRem($right) {
  right: calculateRem($right);
}
@mixin topInRem($value) {
  top: calculateRem($value);
}
@mixin bottomInRem($value) {
  bottom: calculateRem($value);
}
@mixin marginBottom($value) {
  margin-bottom: calculateRem($value);
}
@mixin marginLeft($value) {
  margin-left: calculateRem($value);
}
@mixin marginTop($value) {
  margin-top: calculateRem($value);
}
@mixin marginInRem($marginTop,$marginRight,$marginBottom,$marginLeft) {
  margin:
  calculateRem($marginTop)
  calculateRem($marginRight)
  calculateRem($marginBottom)
  calculateRem($marginLeft);
}
@mixin paddingInRem($paddingTop,$paddingRight,$paddingBottom,$paddingLeft) {
  padding:
   calculateRem($paddingTop)
   calculateRem($paddingRight)
   calculateRem($paddingBottom)
   calculateRem($paddingLeft);
}
@mixin paddingBottom($value) {
  padding-bottom: calculateRem($value);
}
@mixin borderInRem($value, $color) {
  border: calculateRem($value) solid $color;
}
@mixin bgPositionInRem($value1, $value2) {
  background-position: calculateRem($value1) calculateRem($value2);
}
@function calculatePercent($base, $this) {
  $percent: ($this * 100) / $base;
  @return $percent * 1%;
}
@mixin widthInPercentBase($base, $value) {
  width: calculatePercent($base, $value);
}
@mixin heightInPercentBase($base, $value) {
  height: calculatePercent($base, $value);
}
@mixin topInPercentBase($base, $value) {
  top: calculatePercent($base, $value);
}
@mixin leftInPercentBase($base, $value) {
  left: calculatePercent($base, $value);
}
@mixin rightInPercentBase($base, $value) {
  right: calculatePercent($base, $value);
}
@mixin bottomInPercentBase($base, $value) {
  bottom: calculatePercent($base, $value);
}
//Media queries
@mixin greater1200 {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin greater1170 {
  @media (min-width: 1170px) {
    @content;
  }
}
@mixin less1200 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin less1170 {
  @media (max-width: 1170px) {
    @content;
  }
}
@mixin mediumScreen {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin greater991 {
  @media (min-width: 991px) {
    @content;
  }
}
@mixin smallScreen {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin less600 {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin less669 {
  @media (max-width: 669px) {
    @content;
  }
}
@mixin less400 {
  @media (max-width: 400px) {
    @content;
  }
}
