$icon-font-path: '../fonts/';
$base-font-size: 16px;
$dark-blue: #053073;
$yellow: #fed304;
$gray: #565656;
$btnGray: #686e74;
$iconsBg: #e6e6e6;
$black: #000;
$imgPath: '../images/';
$fuxy: #bf284f;
$red: #c44103;
$orange: #da840a;
$green: #80b311;