#complectCalc {
//  @include marginBottom(100px);
  @include paddingInRem(60px, 0.1px, 60px, 0.1px);
  header {
//    @include marginTop(80px);
    @include marginBottom(30px);
    h2 {
      margin: 0 0 20px 0;
      @include font-size(28px);
      &:before {
        background: url($imgPath + 'titleYellow.png') no-repeat;
        @include leftInRem(-230px);
      }

    }
  }
  .base{
    @include marginBottom(50px);
  }

  .additional{
    h3{
      color: $dark-blue;
      @include font-size(20px);
      margin-bottom: 20px;
    }
  }
  .additinalEq{
    margin-bottom: 15px;
  }
  .baseBody {
    color: $dark-blue;
  }
  //Styles form calculator input elements
  .numbers {
    padding: 0;
  }
  .compectPrice{
    padding: 0;
    text-align: right;
  }
  span.num {
    cursor: auto;
    border: 1px solid $iconsBg;
//    padding-left: 7%;
//    padding-top: 3%;
  }
  label.checker{
    @include widthInRem(34px);
//    width: auto;
    @include heightInRem(34px);
//    height: auto;
    float: right;
    border: 1px solid $iconsBg;
    cursor: pointer;
    max-width: none;
  }
  input{
    @include widthInRem(34px);
    @include heightInRem(34px);
    float: left;
    border: 1px solid $iconsBg;
    display: inline-block;
    text-align: center;
  }
  span.minus, span.plus, span.num{
    @include widthInRem(34px);
    @include heightInRem(34px);
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 0 5px;
//    float: right;
  }
  .minus {
    background: url($imgPath + 'minus.png') no-repeat;
    background-position: center center;
  }
  .plus {
    background: url($imgPath + 'plus.png') no-repeat;
    background-position: center center;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance:textfield;
  }
  input[type="checkbox"]{
    display:none;
  }

  input[type="checkbox"]:checked + .checker{
    background: url($imgPath + 'check.png') no-repeat;
    background-position: center center;
  }
  .sumNum{
    @include font-size(22px);
    color: $dark-blue;
  }
  .complectImg, .calcImg{
    cursor: zoom-in;
  }
  @include mediumScreen{
    .complectImg, .calcImg{
      display: none;

    }
    .compectAbout{
      padding: 0;
    }
    .compectPrice{
      text-align: left;
    }
  }
  div.wrap{
    float: right;
  }
  @include smallScreen{
    div.wrap{
      float: left;
    }
    .sumNum{
      @include font-size(20px);
    }
//    label.checker, input, span.minus, span.plus, span.num{
//      float: left;
//    }
  }
  //Aside style
  aside{
    h3{
      color: $dark-blue;
      @include font-size(24px);
      margin-top: 0;
      @include marginBottom(50px);
    }
    .sumtxt{
      @include font-size(18px);
//      margin-left: 20px;
    }
    .sumNum{
      @include font-size(22px);
      color: $dark-blue;
    }
    .baseSum, .addSum{
      @include marginBottom(30px);
    }
    .btn{
      width: 100%;
    }
  }
  #complectTabs{
    @include marginTop(50px);
    ul{
      &.nav-tabs{
        border-bottom: 0;
      }
      li{
        a{
          border: 0;
          color: $dark-blue;
          background-color: transparent;
          @include font-size(20px);
        }
        &.active{
          a{
            font-weight: bold;
            color: #fff;
            background-color: $yellow;
          }
        }

      }
    }
  }
}