#complectsBody{
  color: $btnGray;
  @include marginBottom(50px);
  h2{
    &:before{
      background: url($imgPath + 'titleYellow.png') no-repeat;
    }
  }
  .complectBlock{
    h3{
      text-transform: uppercase;
      width: 100%;
      position: relative;
      padding-left: 20px;
      @include font-size(20px);
//      color: $btnGray;
      &:before{
        content: "»";
        left: 0px;
        top: auto;
        position: absolute;
      }
      @include smallScreen{
        padding-left: 0;
        &:before{
          display: none;
        }
      }
    }
    img{
      margin: 0 auto;
      padding: 40px 15px;
      @include heightInRem(200px);
      width: auto !important;
    }
    .complectText{
      @include font-size(15px);
      margin-bottom: 15px;
    }
    .priceText{
      width: 100%;
      display: inline-block;
      @include font-size(18px);
      font-weight: 400;
    }
    .Price{
      width: 100%;
      color: $dark-blue;
      @include font-size(30px);
    }
    .btn{
      width: 100%;
      margin-top: 20px;

    }
  }
}