#complectBody{
  border-top: 2px solid $iconsBg;
  display: inline-block;
  @include paddingInRem(60px, 0.1px, 60px, 0.1px);

  #complectText{
    h1{
      margin-bottom: 30px;
      @include font-size(25px);
      span{
        color: $dark-blue;
      }
    }
    #complectCharactrestics{
      position: relative;
      @include font-size(20px);
      p{
        margin-bottom: 20px;
      }
      span.blue{
        font-weight: bold;
        margin: 10px auto;
        color: $dark-blue;
      }
      #complectPrice{
//        position: absolute;
//        bottom: -100px;
        left: 0;
        @include mediumScreen{
          position: relative;
          bottom: 0;
          margin-bottom: 20px;
        }
        .priceText{
          color: $yellow;
          @include font-size(28px);
        }
        .price{
          clear: both;
          @include font-size(28px);
          margin-top: 20px;
//          display: inline-block;
        }
        .btn{
          color: $iconsBg;
          clear: both;
          display: inline-block;
          margin-top: 20px;
          width: 100%;
        }
      }
    }
    #complectAbout{
      @include font-size(16px);
      ul{
        margin-left: 20px;
        li{
          color: $dark-blue;
          font-weight: bold;
          list-style: disc;
          margin-bottom: 10px;
        }
      }
      .btn{

      }
    }
  }
}
