footer#mainFoot{
  border-top: 2px solid $iconsBg;
  @include paddingInRem(60px, 0.1px, 60px, 0.1px);
//  display: inline-block;
  @include font-size(16px);
  color: $dark-blue;
  #footerNav{
    ul{
      li{
        padding: 5px 10px;
        a{
          color: $gray;
        }
        &:hover{
          background-color: #e5e5e5;
          border-radius: 30px;
        }
      }
    }
  }
  #footerSubNav{
    ul{
      li{
        &:before{
          content: "»";
          left: 0px;
          top: auto;
          position: absolute;
        }
      }
    }
  }
  #footerText{
    color: $dark-blue;
    @include font-size(14px);
  }
}