#blueLine{
  background-color: $dark-blue;
  @include heightInRem(10px);
}
#mainHead{
  #logoBody{
    padding: 0;
  a{
    position: absolute;
  }
    h1{
      @include heightInRem(100px);
      position: relative;
      display: inline-block;
      @include font-size(16px);
      margin: 0;
      img{
        position: absolute;
        margin-top: -12px;
        @include widthInRem(290px);
      }
      span{
        position: absolute;
        text-indent: -9999px;
      }
    }
    #logoReplace{
      @include heightInRem(70px);
      position: relative;
      display: inline-block;
      @include greater1200{
        position: absolute;
      }
    }
  }
  #topNav{
    color: $gray;
    position: relative;
    @include font-size(22px);
    @include heightInRem(80px);
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    .dropdown-menu{
      @include font-size(22px);
    }
    .container{
      @include paddingInRem(30px, 0px, 0px, 0px);
      @include less1170 {
        padding: 0;
      }
      @include smallScreen{
        margin-top: -20px;
        ul.nav{
          text-align: center;
          li{
            background-color: $yellow;
            border-bottom: 2px solid #fff;
            a{
              color: #fff;
            }
          }
          .dropdown-menu{
            text-align: center;
            margin: 0;
            padding: 0;
            li{
              border-bottom: 0;
            }
          }
          .active > a, .open > a, .open > a:hover, .open > a:focus{
            border-radius: 0px;
            background-color: $yellow;
            opacity: 0.6;
          }
        }
      }
      li.phoneNumber{
        display: none;

        @include mediumScreen{
          display: inline-block;
          padding: 10px;
          background-color: #fff!important;
        }
      }
    }
  }
  #phoneBody{
    padding-top: 30px;
    position: relative;
    &:before{
      content: ' ';
      @include widthInRem(19px);
      @include heightInRem(20px);
      @include leftInRem(-15px);
      background: url($imgPath + 'phoneBlueIco.png') no-repeat;
      background-size: cover;
      position: absolute;
      top: 38px;
    }
    @include less1170 {
      padding: 10px;
      &:before{
        display: none;
      }
    }
    @include mediumScreen{
      display: none;
    }
  }
  //  Rewrite bootstrap styles for top menu
  .navbar-inverse { background-color: #FFFFFF}
  .navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #FFFFFF}
  .navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #e5e5e5;
    border-radius: 30px;
  }
  .dropdown-menu {
    background-color: #FFFFFF;
    border: 0;
    margin-top: 10px;
  }
  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #e5e5e5;
  }
  .navbar-inverse { background-image: none; }
  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
  .navbar-inverse { border-color: #FFFFFF}
  .navbar-inverse .navbar-brand { color: #999999}
  .navbar-inverse .navbar-brand:hover { color: #565656}
  .navbar-inverse .navbar-nav>li>a { color: #999999}
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
    color: #565656;
    background-color: #e5e5e5;
    border-radius: 30px;
  }
  .navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #565656}
  .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #565656}
  .dropdown-menu>li>a { color: #565656}
  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #565656}
  .navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
  .navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
  .navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
  .navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: transparent;}
  .navbar-inverse .navbar-toggle .icon-bar{background-color: #565656;}
  .navbar-inverse .navbar-toggle{border-color: #565656}
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color: #fff;}
//  .navbar-header:before, .navbar-header:after{
//    display: none;
//  }
  @media (min-width: 768px){
    .navbar-nav {
      width: 100%;
      text-align: center;
      li{
        float: none;
        display: inline-block;
      }
    }
  }
}