#iconsBody {
  background-color: $iconsBg;
  //TODO: think, maybe there is better solution then making hidden overflow
  overflow: hidden;
  @include paddingInRem(40px, 0.1px, 40px, 0.1px);
  h2 {
    margin: 0 0 20px 0;
    &:before {
      background: url($imgPath + 'titleBlue.png') no-repeat;
    }
  }
  #iconsBlock {
    @include marginTop(170px);
    @include paddingBottom(90px);
    @include mediumScreen {
      margin: 0;
    }
    .wrapLists {
      @include widthInRem(990px);
      @include heightInRem(385px);
      @include mediumScreen {
        width: auto;
        height: auto;
      }
      margin: 0 auto;
      background: url($imgPath + 'icoBg.png') no-repeat;
      background-size: 100%;
      @include mediumScreen {
        background: none;
      }
      @include bgPositionInRem(0px, 100px);
    }
    ul {
      padding-left: 0;
      padding-right: 0;
      @include mediumScreen {
        text-align: center;
      }
      li {
        display: inline-block;
        position: relative;
        @include borderInRem(24px, #bf284f);
        border-radius: 50%;
        @include widthInRem(165px);
        @include heightInRem(165px);
        @include marginLeft(33px);
        @include mediumScreen {
          display: inline-block;
          margin-left: 0 !important;
          margin-bottom: 20px;
          margin-top: 150px;
          text-align: center;
          .wrap {
            margin-top: -75px;
            position: absolute;
            width: 100%;
            span {
            }
          }
        }
      }
    }
    .top {
      @include marginTop(20px);
      @include mediumScreen {
        margin-top: 80px;
      }
    }
    .iconText, .iconPrice {
      position: absolute;
      color: $dark-blue;
      @include widthInRem(140px);
      @include topInRem(-80px);
      @include mediumScreen {
        text-align: center;
        position: relative;
        top: 0;
      }
    }
    .iconPrice {
      display: none;
      font-weight: bold;
//      @include mediumScreen {
//        display: inline;
//      }
    }
    .bottom {
      @include marginTop(24px);
      @include marginLeft(62px);
      @include mediumScreen {
        margin-top: 80px;
      }
      .iconText, .iconPrice {
        @include topInRem(150px);
        @include mediumScreen {
          margin-left: 0;
          top: 0;
        }
      }
    }

    .lock {
      background: url($imgPath + 'icoLock.png') no-repeat !important;
      border-color: #bf284f !important;
      @include marginLeft(10px);
      @include mediumScreen {
        margin-left: 0;
      }
      &:hover{
        background: url($imgPath + 'lock.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .icoButton {
      background: url($imgPath + 'icoButton.png') no-repeat !important;
      border-color: #da840b !important;
      &:hover{
        background: url($imgPath + 'icoButton.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .electro {
      background: url($imgPath + 'ico220.png') no-repeat !important;
      border-color: #016b07 !important;
      &:hover{
        background: url($imgPath + 'electro.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .gas {
      background: url($imgPath + 'icoGas.png') no-repeat !important;
      border-color: #00649e !important;
      &:hover{
        background: url($imgPath + 'gas.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .video {
      background: url($imgPath + 'icoSurvilance.png') no-repeat !important;
      border-color: #a04199 !important;
      &:hover{
        background: url($imgPath + 'video.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .fire {
      border-color: #c44003 !important;
      background: url($imgPath + 'icoFire.png') no-repeat !important;
      @include marginLeft(74px);
      &:hover{
        background: url($imgPath + 'fire.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .window {
      background: url($imgPath + 'icoWindow.png') no-repeat !important;
      border-color: #80b311 !important;
      &:hover{
        background: url($imgPath + 'window.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .water {
      background: url($imgPath + 'icoWater.png') no-repeat !important;
      border-color: #099d98 !important;
      &:hover{
        background: url($imgPath + 'water.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .temperature {
      background: url($imgPath + 'icoThermo.png') no-repeat !important;
      border-color: #7648aa !important;
      &:hover{
        background: url($imgPath + 'temperature.gif') no-repeat!important;
        background-size: 100% !important;
      }
    }
    .top, .bottom {
      background-size: 100% !important;
    }
  }
}