.imgMarks{
  position: absolute;
  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
  width: auto;
  height: auto;
  @include mediumScreen{
    top: 20px;
  }
  .mark{
    position: absolute;
//    @include widthInPercentBase(1000, 30);
//    @include heightInPercentBase(799, 30);
    width: 20px;
    height: 20px;
    background-color: $yellow;
    border-radius: 50%;
    border: 1px solid $dark-blue;
    z-index: 1;
    cursor: pointer;
    @include less400{
      width: 17px;
      height: 17px;
    }
    &:hover, &.hovered{
      border: 5px double $dark-blue !important;
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
    }
  }

  .popover{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;

    .popover-content{
      padding: 0;
    }
    .popover.right > .arrow:after{
//      border-right-color: rgba(255, 255, 255, 0.85) !important;
    }
  }
  .tooltip-inner{
    background-color: #fff !important;
    color: $btnGray;
    border-radius: 0;
//    @include widthInRem(320px);
    @include smallScreen{
      width: 100%;
    }
    max-width: none;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    h3{
      color: $dark-blue;
      @include font-size(13px);
      font-weight: bold;
      text-align: justify;
    }
    img.smallImg{
//      margin: 20px auto;
      height: 100px;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      @include font-size(13px);
      text-align: left;
    }
    .btn{
      width: 100%;
    }
  }

  .popoverContent{
    display: none;
    .tooltip-arrow{
      display: none;
      @include smallScreen{
        display: block;
      }
    }

  }
}
//Marks test
//#mark1{
//  @include topInPercentBase(799, 138);
//  @include leftInPercentBase(1000, 287);
//}
//#mark2{
//  @include topInPercentBase(799, 148);
//  @include leftInPercentBase(1000, 669);
//}
//#mark3{
//  @include topInPercentBase(799, 259);
//  @include rightInPercentBase(1000, 176);
//}
//#mark4{
//  @include topInPercentBase(799, 397);
//  @include rightInPercentBase(1000, 394);
//}
//#mark5{
//  @include topInPercentBase(799, 325);
//  @include leftInPercentBase(1000, 383);
//}
//Marks for house
.house{
  #mark1{
    @include topInPercentBase(723, 448);
    @include rightInPercentBase(1000, 350);
  }
  #mark2{
    @include topInPercentBase(723, 132);
    @include leftInPercentBase(1000, 424);
  }
  #mark3{
    @include topInPercentBase(723, 384);
    @include rightInPercentBase(1000, 506);
  }
  #mark4{
    @include topInPercentBase(723, 351);
    @include leftInPercentBase(1000, 87);
  }
  #mark5{
    @include topInPercentBase(723, 340);
    @include leftInPercentBase(1000, 285);
  }
  #mark6{
    @include topInPercentBase(723, 349);
    @include rightInPercentBase(1000, 105);
  }
  #mark7{
    @include topInPercentBase(723, 124);
    @include leftInPercentBase(1000, 132);
  }
  #mark8{
    @include topInPercentBase(723, 134);
    @include leftInPercentBase(1000, 313);
  }
  #mark9{
    @include topInPercentBase(723, 343);
    @include leftInPercentBase(1000, 188);
  }
  #mark10{
    @include topInPercentBase(723, 350);
    @include rightInPercentBase(1000, 212);
  }
  #mark11{
    @include topInPercentBase(723, 180);
    @include rightInPercentBase(1000, 213);
  }
  #mark12{
    @include topInPercentBase(723, 504);
    @include rightInPercentBase(1000,395);
  }
  #mark14{
    @include topInPercentBase(723, 326);
    @include leftInPercentBase(1000, 403);
  }

}
.office{
  #mark1{
    @include topInPercentBase(814, 245);
    @include rightInPercentBase(1000, 154);
  }
  #mark2{
    @include topInPercentBase(814, 681);
    @include rightInPercentBase(1000, 486);
  }
  #mark3{
    @include topInPercentBase(814, 103);
    @include rightInPercentBase(1000, 382);
  }
  #mark4{
    @include topInPercentBase(814, 171);
    @include rightInPercentBase(1000, 221);
  }
  #mark5{
    @include topInPercentBase(814, 91);
    @include leftInPercentBase(1000, 361);
  }
  #mark6{
    @include topInPercentBase(814, 471);
    @include rightInPercentBase(1000, 443);
  }
  #mark7{
    @include topInPercentBase(814, 604);
    @include rightInPercentBase(1000, 390);
  }
  #mark11{
    @include topInPercentBase(814, 256);
    @include leftInPercentBase(1000, 163);
  }
  #mark12{
    @include topInPercentBase(814, 192);
    @include rightInPercentBase(1000, 169);
  }
  #mark13{
    @include topInPercentBase(814, 239);
    @include rightInPercentBase(1000, 391);
  }
  #mark14{
    @include topInPercentBase(814, 362);
    @include leftInPercentBase(1000, 369);
  }
}
.appartament{
  #mark1{
    @include topInPercentBase(799, 408);
    @include leftInPercentBase(1000, 217);
  }
  #mark2{
    @include topInPercentBase(799, 500);
    @include leftInPercentBase(1000, 324);
  }
  #mark3{
    @include topInPercentBase(799, 304);
    @include leftInPercentBase(1000, 387);
  }
  #mark4{
    @include topInPercentBase(799, 192);
    @include leftInPercentBase(1000, 153);
  }
  #mark5{
    @include topInPercentBase(799, 155);
    @include leftInPercentBase(1000, 481);
  }
  #mark6{
    @include topInPercentBase(799, 309);
    @include rightInPercentBase(1000, 241);
  }
  #mark7{
    @include topInPercentBase(799, 568);
    @include rightInPercentBase(1000, 379);
  }
  #mark8{
    @include topInPercentBase(799, 178);
    @include leftInPercentBase(1000, 235);
  }
  #mark9{
    @include topInPercentBase(799, 52);
    @include leftInPercentBase(1000, 524);
  }
  #mark12{
    @include topInPercentBase(799, 458);
    @include leftInPercentBase(1000, 226);
  }
  #mark10{
    @include topInPercentBase(799, 138);
    @include leftInPercentBase(1000, 308);
  }
  #mark11{
    @include topInPercentBase(799, 157);
    @include rightInPercentBase(1000, 341);
  }
  #mark14{
    @include topInPercentBase(799, 238);
    @include rightInPercentBase(1000, 70);
  }

}