#mobileAppBody {
  //  background-color: #ff726b;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  #progressBar{
    position: absolute;
    width: 100%;
    top: 0;
    @include mediumScreen{
      bottom: 0;
      top: auto;
    }
    @include heightInRem(10px);
//    margin-bottom: 50px;
    #bar{
      background-color: $dark-blue;
      height: 100%;
      opacity: 0.8;
    }
  }
  header {
    h2 {
      margin: 0 0 20px 0;

      &:before {
        background: url($imgPath + 'titleYellow.png') no-repeat;
      }
    }
    #mobileText {
      color: $btnGray;
      #downloadApp {
        width: 100%;
        display: inline-block;
        a {
          .hideText {
            display: none;
          }
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
          @include greater991 {
            width: 45%;
            img {
              width: 100%;
            }
          }
          @include smallScreen {
//            width: 100%;
            text-align: center;
            .hideText {
              display: inline-block;
            }
            img {
              display: none;
            }
          }
        }

      }
      .wrap {
        width: 90%;
        margin-top: 50px;
        text-align: center;
        @include mediumScreen {
          width: 100%;
        }
        .btn {
          @include widthInRem(240px);
          @include mediumScreen {
            width: 50%;
          }
        }
      }
    }
  }
  #mobileSlideBlock {
    @include mediumScreen {
      margin-top: 50px;
    }
    @include less400 {
      padding-left: 10%;
    }
    position: relative;
    ul {
      padding-top: 50px;
      position: relative;
      @include less400 {
        display: none;
      }
      li {
        opacity: 0;
        text-align: center;
        cursor: pointer;
        span {
          width: 100%;
          display: inline-block;
          color: $dark-blue;
        }
        .ico {
          img {
            @include widthInRem(60px);
            @include heightInRem(60px);
            border: 8px solid transparent;
            padding: 8px;
            border-radius: 50%;
            background-color: #fff;
          }
        }

      }
    }
    #sliderBody {
      position: relative;
      img.hand {
        @include widthInRem(416px);
        @include heightInRem(571px);
        z-index: 99999;
        position: absolute;
        bottom: 0;
        @include less669 {
          display: none;
        }
      }
      img.iphone {
        width: 224px;
        height: 450px;
        display: none;
        @include less669 {
          display: block;
        }
      }
      .wrap {
        @include widthInRem(416px);
        @include heightInRem(571px);
        @include less669 {
          width: 100%;
        }
      }
      #mobileSlider {
        position: absolute;
        z-index: 1;
        @include widthInRem(190px);
        @include heightInRem(342px);
        @include topInRem(60px);
        @include leftInRem(99px);
        @include less669 {
          top: 74px;
          left: 46px;
        }
        .item {
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

//Reinit owl pagination
//.owl-pagination {
//  position: absolute;
//  width: 100%;
//  .owl-page {
//    width: 100%;
//    @include heightInRem(84px);
//  }
//}