#orderForm{
  @include paddingInRem(60px, 0.1px, 40px, 0.1px);
  margin-bottom: 60px;
  header{
    h2{
      margin: 0 0 20px 0;
      &:before{
        background: url($imgPath + 'titleYellow.png') no-repeat;
      }
    }
  }
  .wrap{
    border: 1px solid $iconsBg;
    display: inline-block;
//    @include paddingInRem(30px, 0.1px, 30px, 0.1px);
    @include heightInRem(200px);
    @include mediumScreen{
      border: 0;
      height: auto;
    }
  }
  #formText{
    img{
      @include marginTop(10px);
      @include mediumScreen{
        display: none;
      }
    }
    p{
      text-transform: uppercase;
      color: $dark-blue;
      @include font-size(30px);
      font-weight: bold;
      @include marginTop(30px);
      @include mediumScreen{
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    @include mediumScreen{
      margin-bottom: 20px;
      display: inline-block;
    }
  }
  #mainForm{
    position: absolute;
    left: 10%;
    @include topInRem(180px);
    @include mediumScreen{
      bottom: 0;
      position: relative;
      top: 0;
      left: 0;
    }

    .form-group{
      float: left;
      width: 28%;
      height: 62px;
      &:nth-child(2){
        margin: 0 50px;
      }
      @include mediumScreen{
        &:nth-child(2){
          margin: 0;
        }
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .btn{
      float: left;
      width: 30%;
      @include mediumScreen{
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
//Reset bootstrap
.form-horizontal .form-group{
  margin: 0;
}
.form-group{
  input, textarea{
    border: 1px solid $iconsBg;
    border-left: 0;
    height: 62px;
  }
  .input-group-addon{
    border: 1px solid $iconsBg;
    border-right: 0;
    background-color: #fff;
  }

}
.has-error .form-control,.has-error .input-group-addon{
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}