#shemeBody{
  padding-bottom: 50px;
  background: url($imgPath + 'schemeBg.png') no-repeat;
  background-size: cover;
  h2{
    color: #fff;
    margin: 10px 0;
    &:before{
      background: url($imgPath + 'titleWhite.png') no-repeat;
    }
  }
  #schemeList{
    #accordion{
      background-color: rgba(255, 255, 255, 0.30);
      text-shadow: 0 1px 1px rgba(0,0,0,.1);
//      background-color: #fff;
//      color: #000;
      @include paddingInRem(20px, 15px, 20px, 15px);
      div{
        .more{
          //        display: none;
          display: inline-block;
          @include font-size(15px);
          img{
            width: 50%;
          }
          p{
            color: #fff;
//            padding: 0;
            border: 5px solid rgba(248, 248, 248, 0.09);;
            padding: 5px;
            @include font-size(15px);
            @include smallScreen{
              @include font-size(12px);
            }
//            color: rgba(255, 255, 255, 0.80);
          }
        }
      }
      h3{
        color: #fff!important;
        font-weight: 400;
        cursor: pointer;
        outline: none;
        @include font-size(15px);
        @include smallScreen{
          @include font-size(12px);
        }
      }
    }
  }
  #schemeImg{
//    padding: 10% 0;
    position: relative;
    @include mediumScreen{
      padding-top: 20px;
    }
//    img{
//
//    }
    #shemeImgMain{
      width: 100%;
      top: 10%;
      position: relative;
    }
  }
}
//Rewrite JqueryUI styles
.ui-widget-content {
  border: none;
  background: none;
  color: inherit;
}
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 10px 5px;
  min-height: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: none;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: inherit;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
  border-top: 0;
  overflow: hidden;
}