#slider{
  @include mediumScreen{
    display: inline-block;
    width: 100%;
  }
  #mainSlider{
    position: relative;
    .item {
      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .sliderText{
      position: absolute;
//      @include topInRem(135px);
//      @include rightInRem(40px);
      @include topInRem(80px);
      right: 0;
      padding: 10px 5px;
      color: $dark-blue;
      background-color: rgba(255, 255, 255, 0.50);
      @include font-size(45px);
      font-weight: bold;
      @include widthInRem(570px);
      p{
        padding-left: 10px;
      }
      @include less1170{
        right: 0;
        @include font-size(35px);
        @include widthInRem(450px);
      }
      @include mediumScreen{
        @include font-size(20px);
        @include widthInRem(300px);
      }
      @include less600{
        top: 0;
        @include font-size(15px);
        @include widthInRem(200px);
      }
      @include less400{
        display: none;
      }
    }
    .btn{
      position: absolute;
      bottom: 0;
      padding: 15px 0;
      @include widthInRem(245px);
      @include font-size(22px);
      &.gray{
        @include rightInRem(95px);
      }
      &.yellow{
        @include rightInRem(320px);
      }
      @include mediumScreen{
        width: 50%;
        position: relative;
      }
    }
    .sliderButtons{
      @include mediumScreen{
        .btn{
          float: left;
          right: auto;
        }
      }
    }
    .owl-controls{
      .owl-buttons{
        position: absolute;
        width: 100%;
        top: 50%;
        .owl-prev{
          left: 0;
          position: absolute;
          &:before{
            position: absolute;
            content: " ";
            width: 87px;
            height: 87px;
            background: url($imgPath + 'sliderArrowLeft.png');
          }
        }
        .owl-next{
          right: 90px;
          position: absolute;
          &:before{
            position: absolute;
            content: " ";
            width: 87px;
            height: 87px;
            background: url($imgPath + 'sliderArrowRight.png');
          }
        }
        @include less1200{
          top: 70%;
        }
        @include mediumScreen{
          top: 60%;
        }
        @include smallScreen{
          display: none;
        }
      }
    }
  }
}