.innerText{
  #mainSlider{
    .sliderText{
      left: 0;
      right: inherit;
    }
  }
}

#textPage{
  @include paddingInRem(60px, 0.1px, 60px, 0.1px);
  @include mediumScreen{
    padding-top: 5px;
  }
  color: $gray;
  aside{
    ul{
      li{
        @include font-size(16px);
        padding: 15px;
        border-top: 2px solid $iconsBg;
        width: 80%;
        &:first-letter{
          color: #000;
        }
        &:last-child{
          border-bottom: 2px solid $iconsBg;
        }
        &:hover, &:focus{
          background-color: #e5e5e5;
        }
        a{
          color: $gray;

        }
      }
      @include mediumScreen{
        text-align: center;
        li{
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
  article{
    h2{
      margin: 0 0 20px 0;
      font-weight: 400;
    }
    h3{
      color: $dark-blue;
      padding: 26px 0;
    }
  }
  a{
    text-decoration: underline;
  }
  .askQuestion{
    padding: 40px 20%;
    @include mediumScreen{
      padding: 20px;
    }
    background-color: #e5e5e5;
    p{
      text-align: center;
      margin-bottom: 20px;
    }
    .btn{
      margin-top: 20px;
      width: 100%;
    }
    .form-group {
      float: left;
      margin-bottom: 20px;
    }
  }
}