#topNavSub{
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  padding: 0;
//  @include topInRem(110px);
  @include less1200{
    position: relative;
    top: 0;
  }
  ul{
    text-align: center;
    li{
      display: inline-block;
      @include widthInRem(330px);
      @include paddingInRem(20px,0.1px,20px,0.1px);
      text-align: center;
      @include font-size(22px);
      text-transform:uppercase;
      a{
        color: #fff;
      }
      &#home{
        background-color: rgba(6,36,67,1);
        @include filter-gradient(#062443, #08325d, horizontal);
        @include background-image(linear-gradient(45deg, rgba(6,36,67,1) 0%, rgba(8,50,93,1) 100%));

      }
      &#house{
        background-color: rgba(8,50,93,1);
        @include filter-gradient(#08325d, #062443, vertical);
        @include background-image(linear-gradient(to bottom, rgba(8,50,93,1) 0%, rgba(6,36,67,1) 100%));
      }
      &#business{
        background-color: rgba(8,50,93,1);
        @include filter-gradient(#08325d, #062443, horizontal);
        @include background-image(linear-gradient(45deg, rgba(8,50,93,1) 0%, rgba(6,36,67,1) 100%));
      }
      &.active{
        background-color: $yellow!important;
        background-image: none!important;
        position: relative;
        a{
          color: $dark-blue;
        }
        &:before{
          content: ' ';
          position: absolute;
          top: 0;
          left: 44%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 17px 17px 0 17px;
          border-color: #ffffff transparent transparent transparent;
        }
      }
      @include less1200{
        width: 33.3%;
        float: left;
      }
      @include less400{
        width: 100%;
      }
    }
  }
}