#videoBody{
  @include transition-property(all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-in);
  header{
    display: inline-block;
    @include marginTop(50px);
    @include marginBottom(25px);
    h2{
      margin: 0 0 20px 0;
      &:before{
        background: url($imgPath + 'titleYellow.png') no-repeat;
      }
    }
  }
  .wrap{
    background: url($imgPath + 'videoBg.jpg') no-repeat;
    background-size: cover;
    @include paddingInRem(80px, 0.1px, 140px, 0.1px);

    #player{
      display: none;
//      top: 0;
//      left: 0;
//      position: absolute;
      width: 100%;
      height: 100%;
    }
    #pult{
      position: relative;
      img{
        position: absolute;
        left: 0;
        @include widthInRem(671px);
        @include heightInRem(664px);
        @include topInRem(-160px);
        @include mediumScreen{
          display: none;
        }
      }
    }
    #videoText{
      color: #fff;
      h3{
        text-transform: uppercase;
        @include marginBottom(50px);
      }
    }
    .playButton{
      @include marginTop(50px);
      cursor: pointer;
    }
  }
}